doctype html
head
  title 3D Hand Gesture Recognition
  link(rel='stylesheet' type='text/css' href='css/style.css')
header
  .main
    ul
      li.active
        a(href='#') Home
      li
        a(href='#') Predict
      li
        a(href='#') About
  .title
    h1 3D hand gesture recogniton
  .image-container
    .row
      .column
        img(src='OK.jpg' alt='Snow' style='width:100%')
      .column
        img(src='PEACE.jpg' alt='Forest' style='width:100%')
      .column
        img(src='PUNCH.jpg' alt='Mountains' style='width:100%')
      .column
        img(src='stop.jpg' alt='Mountains' style='width:100%')
  .button
    a.btn(href='#') Predict
